*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 100%;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--font-inter); 
	background: var(--Background);
	color: var(--TextColor);
}

.visually-hidden {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
