@use "../utils" as *;

.cards {
	display: grid;
	grid-template-columns: 1fr;
	gap: rem(30);
	@include breakpoint(medium) {
		gap: rem(30);
		grid-template-columns: repeat(2, 1fr);
	}

	@include breakpoint(large) {
		gap: rem(30);
		grid-template-columns: repeat(4, 1fr);
	}
}

.card {
	position: relative;
	overflow: hidden;
	text-align: center;
	padding: rem(25);
	background-color: var(--BgDarkCard);
	color: var(--LightBlue);
	border-radius: rem(5);
	transition: background 1s ease-in-out;
	cursor: pointer;
	&:hover {
		background: var(--DarkCardHover);
	}

	&__icon {
		margin-right: rem(5);
		&--facebook {
			border-top: rem(5) solid var(--Facebook);
		}
		&--twitter {
			border-top: rem(5) solid var(--Twitter);
		}
		&--instagram {
			padding-top: rem(30);
			&::before {
				content: "";
				position: absolute;
				display: block;
				left: 0;
				top: 0;
				width: 100%;
				height: rem(5);
				background: linear-gradient(
					225deg,
					var(--InstagramEnd),
					var(--InstagramStart)
				);
			}
		}

		&--youtube {
			border-top: rem(5) solid var(--YouTube);
		}
	}

	&__platform {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: rem(28);
		margin-top: rem(5);
		height: rem(20);
	}

	&__subtitle {
		font-size: rem(14);
		font-weight: 700;
	}

	&__username {
		font-size: rem(12);
		font-weight: 700;
	}

	&__followers {
		margin-bottom: rem(25);
	}

	&__count {
		color: var(--White);
		line-height: 1;
		margin-bottom: rem(4);
		&--big {
			font-size: rem(56);
			font-weight: 700;
		}
		&--small {
			font-size: rem(32);
		}
	}

	&__label {
		color: var(--LightBlue);
		font-size: rem(12);
		letter-spacing: rem(5);
		font-weight: 400;
		text-transform: uppercase;
	}

	&__change {
		display: flex;
		align-items: center;
		justify-content: center;

		font-size: rem(12);
		font-weight: 700;
		&--up {
			color: var(--LimeGreen);
		}
		&--down {
			color: var(--BrightRed);
		}

		img {
			margin-right: rem(4);
		}
	}
}
